* {margin:0;padding:0;}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
body{
  //font-family: sans-serif;
  background-color: white;
  color: black;
}

img{
  //width: 75px;
  float: left;
  margin-right: 10px;
}
.pagina{
  padding: 5%;
}


#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 90%;
  left:40%;
}